<!DOCTYPE html>
<html>
<head>
  <title>CRUD MVC App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/suppliers">Suppliers</a> |
    <a href="/products">Products</a>
  </nav>
  <hr>
